.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
}

.col {
  width: calc(33.33% - 10px); /* Ancho de columna con espacio entre ellas */
  margin-right: 10px; /* Espacio entre columnas */
  margin-bottom: 20px; /* Espacio entre filas */
  float: left;
}

.producto-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.texto-truncado {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Muestra el texto en 2 líneas */
  line-height: 1.4em; /* Altura de línea para ajustar el espacio entre líneas */
  //max-height: 2.8em; /* Máxima altura permitida (2 líneas * altura de línea) */
  height: 3em; /* Ajusta esto según el tamaño de tu texto */
}

.h-screen {
  height: 85vh;
}

.row-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  justify-content: flex-start; /* Alinea los elementos al inicio de la fila */
  gap: 10px; /* Espacio entre el select y el botón */
}

.select-product {
  flex-grow: 1; /* Ocupa el espacio disponible */
  /* Estilos adicionales para el select aquí */
}
